@model List<TLoaiSp>

<div class="flex-w flex-l-m filter-tope-group m-tb-10">

	<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
		All Products
	</a>
	@foreach(var dm in Model)
	{
		<a asp-action="Category" asp-controller="Home" asp-route-loai="@dm.MaLoai" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
		@dm.Loai
	</a>
	}
	
</div>
